/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}



/* Home */
#home{
    height: 370px;
}
#home::before{
    height: 480px;
}
#home p{
    height: 13px;
}




/* Service Section */
#services{
 flex-direction: column;
}

#services.box{

}






/* Client Section */
#clients{
    overflow: hidden;
}

/* Contact Us */

/* Footer */

/* Utility Class */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}